



/*barra de navegação personalizada*/
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: #000000;
}

body::-webkit-scrollbar-thumb {
  background-color: #fca311;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-display: block;
}

body {
  background-color: #070707;
  font-family: "Montserrat-Regular", sans-serif;
}

/*Galeria de imagem*/
.tz-gallery {
  padding: 40px;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0px 0px 14px 4px rgb(0, 0, 0);
}

.tz-gallery .lightbox img:hover {
  transition: 0.5s;
  box-shadow: 0px 0px 14px 4px #fca311;
}

.tz-gallery img {
  border-radius: 4px;
}

.baguetteBox-button {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  .container.gallery-container {
    border-radius: 0;
  }
}

.imgteste {
  background-color: #14213d;
  background-position: left top;
  background-size: cover;
}

.teste {
  background-image: linear-gradient(to bottom, #000000, #14213d);
}

.teste1 {
  background-image: linear-gradient(to bottom, #14213d, #fca311);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* Paleta de cores para texto */
.text-amarelo {
  color: #fca311;
}

.bg-amarelo {
  background-color: #000000;
}



.link-amal {
  color: #fca311;
  cursor: pointer;
}

.link-amal:hover {
  color: #fff;
  transition: 0.5s;
}


.botao-sombra:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 10px 4px #fca311;
}

/* inicio do Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000; /* cor do background que vai ocupar o body */
  z-index: 999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
  position: absolute;
  top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
  transform: translate(-50%, -50%);
}
.circulo > div {
  display: inline-block;
  background-color: #fca311;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.circulo > div:nth-child(1) {
  animation-duration: 0.75s;
  animation-delay: 0;
}
.circulo > div:nth-child(2) {
  animation-duration: 0.75s;
  animation-delay: 0.12s;
}
.circulo > div:nth-child(3) {
  animation-duration: 0.75s;
  animation-delay: 0.24s;
}

@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
/* end: Preloader */
